# Python
venv/
__pycache__/
*.pyc

# Node
node_modules/
dist
dist-ssr
*.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# VS Code
.vscode/*
!.vscode/extensions.json

# IDEs
.idea

# Mac
.DS_Store

# Visual Studio
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?